<script>
    import {Router, Link, Route} from "svelte-routing";
    import Abrechnung from "./modules/Abrechnung.svelte";
    import Lager from "./modules/Lager.svelte";
    import Kunden from "./modules/Kunden.svelte";
    import Bestellung from "./modules/Bestellung.svelte"; //kann aktiviert werden
    export let location = "";
</script>
<min>
    <Router url="{location}">

        <div class="mt-3 container bg-light rounded w-75">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">ERP System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Module
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <Link class="dropdown-item" to="/">Kundenansicht</Link>
                                <Link class="dropdown-item" to="Abrechnung">Abrechnung</Link>
                                <Link class="dropdown-item" to="Lager">Lager</Link>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div>
            <Route path="/" component="{Kunden}"/>
            <Route path="Abrechnung" component="{Abrechnung}"/>
            <Route path="Lager" component="{Lager}"/>
        </div>

    </Router>
</min>


