<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Departments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Department</h2></div>
    <div class="m-2">
        <button class="mr-3 btn btn-outline-primary"><a th:href="@{/department/new}">Add New Department</a></button>
        <button class="btn btn-outline-primary" onclick="changeToEmployee()">Employee</button>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <dv>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Code</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="department : ${departmentList}">
                <tr>
                    <td>[[${department.departmentId}]]</td>
                    <td>[[${department.departmentName}]]</td>
                    <td>[[${department.departmentAddress}]]</td>
                    <td>[[${department.departmentCode}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/department/edit/' + ${department.departmentId}}">Edit</a>
                        <a class="h4" th:href="@{'/department/delete/' + ${department.departmentId}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </dv>
</div>
<script type="text/javascript" >
    function changeToEmployee(){
        window.location="[[@{/employee/list}]]";
    }
</script>
</body>
</html>