<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid ">
    <div><h2 class="text-center">[[${pageTitle}]]</h2></div>
    <form th:action="@{/department/update}" method="post" style="max-width: 500px; margin: 0 auto;" th:object="${department}">
        <input type="hidden" th:field="*{departmentId}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name:</label>
                <div class="col-sm-8"><input type="text" th:field="*{departmentName}" class="form-control" required minlength="2" maxlength="45"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address:</label>
                <div class="col-sm-8"><input type="text"  th:field="*{departmentAddress}" class="form-control" required minlength="2" maxlength="45"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Code:</label>
                <div class="col-sm-8"><input type="text" th:field="*{departmentCode}" class="form-control" required minlength="2" maxlength="45"/></div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" >
    function cancelForm(){
        window.location="[[@{/department/list}]]";
    }
</script>
</body>
</html>