<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid ">
    <div><h2 class="text-center">[[${pageTitle}]]</h2></div>
    <form th:action="@{/employee/save}" method="post" style="max-width: 500px; margin: 0 auto;" th:object="${employee}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Firstname:</label>
                <div class="col-sm-8"><input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Lastname:</label>
                <div class="col-sm-8"><input type="text"  th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-Mail:</label>
                <div class="col-sm-8"><input type="email" th:field="*{emailAddress}" class="form-control" required /></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone:</label>
                <div class="col-sm-8"><input type="text" th:field="*{mobileNumber}" class="form-control" required minlength="2" maxlength="45"/></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Department ID:</label>
                <div class="col-sm-8"><input type="number" th:field="*{departmentId}" class="form-control" required /></div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" >
    function cancelForm(){
        window.location="[[@{/employee/list}]]";
    }
</script>
</body>
</html>