<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Manage Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Employee</h2></div>
    <div class="m-2">
        <button class="mr-3 btn btn-outline-primary "><a th:href="@{/employee/new}">Add New Employee</a></button>
        <button class="btn btn-outline-primary" onclick="changeToDepartment()">Department</button>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <dv>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Phone</th>
                <th>Department</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="employee : ${employeeList}">
                <tr>
                    <td>[[${employee.employeeId}]]</td>
                    <td>[[${employee.firstName}]] [[${employee.lastName}]]</td>
                    <td>[[${employee.emailAddress}]]</td>
                    <td>[[${employee.mobileNumber}]]</td>
                    <td>[[${employee.departmentName}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/employee/edit/' + ${employee.employeeId}}">Edit</a>
                        <a class="h4" th:href="@{'/employee/delete/' + ${employee.employeeId}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </dv>
</div>
<script type="text/javascript" >
    function changeToDepartment(){
        window.location="[[@{/department/list}]]";
    }
</script>
</body>
</html>