<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to my Application</h1>
    <a class="h2 mr-3" th:href="@{department/list}">Department</a>
    <a class="h2" th:href="@{employee/list}">Employee</a>
</div>

</body>
</html>