<script>
    import {onMount} from "svelte";
    export let location;
    let orderList = getOrdersFromAPI();
    const endpointGet = "http://localhost:9999/api/v1/orders/";
    const endpointPost = "http://localhost:9999/api/v1/orders/checkpayment/"

    async function getOrdersFromAPI() {
        const response = await fetch(endpointGet);
        const responseJson = await response.json();

        if (responseJson.errorCode) {
            console.log("Fehler beim Laden der DSaten" + responseJson.errorMessage);
            throw new Error(responseJson.errorMessage);
        }
        return responseJson;
    }

    async function postOrderPayedByOrderIdToAPI(orderId) {
        if (orderId.length == 10) {
            let postUrl = endpointPost + orderId;
            const response = await fetch(postUrl,
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/hal+json",
                    },
                }
            );
            const responseJson = await response;
            if (responseJson.errorCode) {
                console.log(responseJson.errorCode);
                throw new Error(responseJson.errorMessage);
            }
            console.log("Bestellung mit der Order-Id: " + orderId + " wurde bezahlt.")
            orderList = getOrdersFromAPI();

        } else {
            console.log("Ungültige Order-Id" + orderId)
        }
    }

    onMount(async function () {
        orderList = getOrdersFromAPI();
    });
</script>

<main>
    <div class="mt-3 container bg-light rounded w-75">
        <h3 class="p-3 text-center">Abrechungsansicht</h3>
        <div class="p-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Bestellnummer</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gesamtbetrag</th>
                    <th scope="col">Steuern</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {#await orderList}
                    <p style="color: blue;>">Warte auf Daten...</p>
                {:then orders}
                    {#each orders as order}
                        <tr>
                            <td>{order.orderID}</td>
                            <td>{order.customerFirstname} {order.customerLastname}</td>
                            <td>{order.grossTotal}€</td>
                            <td>{order.date.slice(2, 10)}</td>
                            <td>{order.state}</td>
                            <td>
                                {#if order.state == 'PAYMENT_VERIFIED' || order.state == 'PREPARING_FOR_DELIVERY'}
                                    <button class="mb-1 btn btn-success btn-sm disabled">
                                        bereits bezahlt
                                    </button>
                                {:else}
                                    <button class="mb-1 btn btn-primary btn-sm"
                                            on:click={() => postOrderPayedByOrderIdToAPI(order.orderID)}>
                                        Bezahlen
                                    </button>
                                {/if}
                            </td>
                        </tr>
                    {/each}
                {:catch error}
                    <div class="m-3">
                        <p style="color: red">{error.message}</p>
                    </div>
                {/await}
                </tbody>
            </table>
        </div>
    </div>
</main>
