<script>
    import {onMount} from "svelte";
    export let location;

    let kundenId = '1234567890';
    const endpoint = "http://localhost:8081/api/v1/orders/";
    let orders = [];

    onMount(async function () {
        const response = await fetch(endpoint);
        const responseJson = await response.json();
        let order = [];

        if (!responseJson.errorCode) {
            for (var i = 0; i < responseJson.length; i++) {
                if (responseJson[i].customerID == kundenId) {
                    order.push(responseJson[i]);
                }
            }
        } else {
            console.log(responseJson.errorCode);
        }
        orders = order;
    })

</script>
<main>
    <div class="mt-3 container bg-light rounded w-75">
        <h3 class="p-3 text-center">Bestellungen Kunde</h3>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Bestellnummer</th>
                    <th scope="col">Gesamtbetrag</th>
                    <th scope="col">Steuern</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {#each orders as order}
                    <tr>
                        <td>{order.orderID}</td>
                        <td>{order.grossTotal}€</td>
                        <td>{order.taxTotal}€</td>
                        <td>{order.date.slice(2,10)}</td>
                        <td>{order.state}</td>
                    </tr>
                {/each}
                </tbody>
            </table>
        </div>
    </div>
</main>