<script>
    export let location;
    const endpointPost = "http://localhost:9999/api/v1/orders/";
    let cart = [];
    let kunde = {
        "customerID": "1234567890",
        "customerFirstname": "Mathias",
        "customerLastname": "Rudig",
        "customerEmail": "mathias.rudig@icloud.com",
        "customerStreet": "Hauptstraße 94",
        "customerZipcode": "6511",
        "customerCity": "Zams",
        "customerCountry": "AT",
        "cartItems": []
    };
    let products = [
        {"productNumber": "P123456789", "productName": "IPad Pro 12\"", "priceNet": 1550.00, "tax": 20, "amount": 1},
        {"productNumber": "P123456788", "productName": "IPhone 13 Pro", "priceNet": 1150.00, "tax": 20, "amount": 1},
        {"productNumber": "P123456787", "productName": "IPhone 13 Hülle", "priceNet": 30.00, "tax": 20, "amount": 1}
    ]

    const addToCart = (product) => {
        for (let item of cart) {
            if (item.productNumber === product.productNumber) {
                product.amount += 1
                cart = cart;
                return;
            }
        }
        cart = [...cart, product]
    }

    const minusItem = (product) => {
        for (let item of cart) {
            if (item.productNumber === product.productNumber) {
                if (product.amount > 1) {
                    product.amount -= 1
                    cart = cart
                } else {
                    cart = cart.filter((cartItem) => cartItem != product)
                }
                return;
            }
        }
    }

    const plusItem = (product) => {
        for (let item of cart) {
            if (item.productNumber === product.productNumber) {
                item.amount += 1
                cart = cart;
                return;
            }
        }
    }

    async function postPlaceOrderToAPI() {
        if (cart.length > 0) {
            kunde.cartItems = cart;
            const response = await fetch(endpointPost, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(kunde)
            })
            const responseJson = await response.json();
            if (responseJson.errorCode) {
                console.log(responseJson.errorCode);
            } else {
                cart = []; //Warenkrob löschen
                console.log("Bestellung erfolgreich aufgegeben!");
            }
        } else {
            console.log("Keine Items im Warenkorb!");
        }
    }

    $: total = cart.reduce((sum, item) => sum + (item.priceNet * ((item.tax + 100) / 100) * item.amount), 0);
    $: cartitems = cart.reduce((sum, item) => sum + item.amount, 0);
</script>
<main>
    <div class="mt-3 container bg-light rounded w-75">

        <h3 class="p-3 text-center">Kundenansicht</h3>

        <div class="m-2 mb-5">
            {kunde.customerFirstname} {kunde.customerLastname} | {kunde.customerEmail}
        </div>

        <div class="container text-center mb-5">
            <div class="products">
                {#each products as product}
                    <div class="">
                        <img width="100" src="img/{product.productNumber}.jpg" alt={product.productName}/>
                        <h4>{product.productName}</h4>
                        <p>{product.priceNet}€</p>
                        <button class="btn btn-primary" on:click={() => addToCart(product)}>Add to cart</button>
                    </div>
                {/each}
            </div>
        </div>

        <p class="m-2">{cartitems} Produkte im Warenkorb</p>

        <div class="m-2 border rounded">
            {#each cart as item }
                {#if item.amount > 0}
                    <div class="m-2 cart">
                        <img width="50" src="img/{item.productNumber}.jpg" alt={item.productName}/>
                        <p>{item.productName}</p>
                        <div>{item.amount}
                            <button class="btn btn-primary" on:click={() => plusItem(item)}>+</button>
                            <button class="btn btn-danger" on:click={() => minusItem(item)}>-</button>
                        </div>
                        <p>€{item.priceNet * item.amount}</p>
                        <p>{item.tax}% Steuer</p>
                    </div>
                {/if}
            {/each}
            <div class="m-3">
                <h4>Gesamt: {total}€</h4>
            </div>
        </div>

        <div class="p-2">
            <button class="btn btn-primary {cart.length ? '' : 'disabled'}" on:click={() => postPlaceOrderToAPI()}>Checkout</button>
        </div>

    </div>

</main>

<style>
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .cart {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
</style>