<script>
    import {onMount} from "svelte"
    export let location;
    let packingList = [];
    let promise = getPackingsFromAPI();
    const endpointGet = "http://localhost:9999/stock/packings"
    const endpointPost = "http://localhost:9999/stock/setPackedForPacking/";

    async function getPackingsFromAPI() {
        const response = await fetch(endpointGet);
        const responseJson = await response.json();

        if (responseJson.errorCode) {
            console.log("Fehler beim Laden der DSaten" + responseJson.errorMessage);
            throw new Error(responseJson.errorMessage);
        }
        return responseJson;
    }

    async function postPackedItemPerIdToAPI(packingItemId) {
        if (packingItemId != 0) {
            let postUrl = endpointPost + packingItemId;
            const response = await fetch(postUrl,
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/hal+json",
                    },
                }
            );
            const responseJson = await response;
            if (responseJson.errorCode) {
                console.log(responseJson.errorCode);
                throw new Error(responseJson.errorMessage);
            }
            console.log(packingItemId + ": Produkt gepackt!");
            promise = getPackingsFromAPI();

        } else {
            console.log("Illegal Packitem-ID: " + packingItemId);
        }
    }
    onMount(async function () {
        promise = getPackingsFromAPI();
    });
</script>

<main>
    <div class="mt-3 container bg-light rounded w-75">

        <h3 class="p-3 text-center">Lageransicht</h3>

        <div class="p-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Bestellnummer</th>
                    <th scope="col">Name</th>
                    <th scope="col">Straße</th>
                    <th scope="col">Stadt</th>
                    <th scope="col">Anzahl</th>
                    <th scope="col">Produkte</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {#await promise}
                    <p style="color: blue;>">Warte auf Daten...</p>
                {:then packingList}
                    {#each packingList as packing}
                        <tr>
                            <td>{packing.orderId}</td>
                            <td>{packing.deliveryData.name}</td>
                            <td>{packing.deliveryData.street}</td>
                            <td>{packing.deliveryData.city}</td>
                            <td>{packing.deliveryData.city}</td>
                            <td>
                                {#each packing.packingItemList as item}
                                    <div class="products">
                                        {item.amount}stk {item.productName}
                                        {#if item.packed}
                                            <button class="mb-1 btn btn-success btn-sm disabled">
                                                bereits verpackt
                                            </button>
                                        {:else}
                                            <button class="mb-1 btn btn-primary btn-sm"
                                                    on:click={() => postPackedItemPerIdToAPI(item.id)}>
                                                Packen
                                            </button>
                                        {/if}
                                        <!-- <button
                                                 class="btn {item.packed ? 'disabled btn-success': 'btn-primary'}"
                                                 on:click={() => postPackedItemPerIdToAPI(item.id)}>
                                             {item.packed ? 'Packed' : 'Pack Item'}
                                         </button> -->
                                    </div>
                                {/each}
                            </td>
                        </tr>
                    {/each}
                {:catch error}
                    <div class="m-3">
                        <p style="color: red">{error.message}</p>
                    </div>
                {/await}
                </tbody>
            </table>
        </div>
    </div>
</main>
<style>
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
</style>
